:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --margin-bottom: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--cream);

  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  width: 600px;
  background-color: var(--white);
  border-radius: 12px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section__image {
  width: 50%;
}

.container {
  width: 50%;
  padding: 2em;
  color: var(--dark-grayish-blue);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container__subtitle {
  margin-bottom: var(--margin-bottom);
  text-transform: uppercase;
  letter-spacing: 4px;
}

.container__title {
  margin-bottom: var(--margin-bottom);
  color: var(--very-dark-blue);
  font-family: "Fraunces", serif;
  font-size: 2.5em;
  line-height: 1;
}

.container__paragraph {
  margin-bottom: var(--margin-bottom);
  line-height: 1.5;
}

.container__prices {
  margin-bottom: var(--margin-bottom);
  display: flex;
  align-items: center;
}

.container__actual-price {
  margin-right: 0.5em;
  color: var(--dark-cyan);
  font-family: "Fraunces", serif;
  font-size: 2.5em;
}

.container__previous-price {
  text-decoration: line-through;
}

.container__button {
  padding: 1em;
  border: none;
  border-radius: 5px;
  background-color: var(--dark-cyan);
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.container__button:active {
  background-color: hsl(158, 36%, 27%);
}
